<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>

<section>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="mb-3">Change Password</h4>

                        <form th:action="@{/user/change-password}" method="post">

                            <!-- Old Password Field -->
                            <div class="form-group" th:align="center">
                                <label>
                                    <input name="oldPassword" type="text" class="form-control"
                                           placeholder="Enter old password">
                                </label>
                            </div>

                            <!-- NEW Password Field -->
                            <div class="form-group" th:align="center">
                                <label>
                                    <input name="newPassword" type="text" class="form-control"
                                           placeholder="Enter new password">
                                </label>
                            </div>

                            <div class="container text-center">

                                <button type="submit" class="btn btn-success">Change</button>
                                <button type="reset" class="btn btn-warning">Reset</button>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(() => {
            $('.item').removeClass('active');
            $('#change-pass-link').addClass('active');
        })
    </script>

</section>


</body>
</html>