@charset "ISO-8859-1";

body {
    background: #e2e2e2!important;
}

.bg-primary {
    background: #bd647c !important;
}

.navbar-brand {
    font-size: 30px;
}

.banner {
    width: 100%;
    height: 93vh;
    background:linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/dawn_descent.jpg");
    background-size:cover;
    color: white;
}

.my-card {
    padding: 20px;
    background: #ffffff;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 400px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}


/* Sidebar Style */

@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
        width: 80% !important;
        background: white;
        height: 100vh;
        position: fixed;
        padding-top: 45px;
    }

    .content {
        margin-left: 0%!important;
    }
}

.sidebar {
    width: 18%;
    background: white;
    height: 100%;
    position: fixed;
    padding-top: 45px;
    z-index: 99999999999999999999999999;
}

.sidebar  a{
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    color: gray;
}

.sidebar a:hover {
    background: #e2e2e2;
}

.sidebar .divider {
    height: .5px;
    width: 100%;
    background: #e2e2e2;
    margin: 10px;
}

.content {
    margin-left: 20%;
}

.sidebar .crossbtn {
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 36px;
    cursor: pointer;
}

.my_profile_picture {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}


/* Search CSS */

.search-container {
    position: relative;
}

.search-result {
    position: absolute;
    background: white;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    display: none;
}

.active {
    background: #bd647c !important;
    color: #120909 !important;
}

.nav-link.active {
    background: #bd647c !important;
    font-weight: bold; /* Example styling: change as needed */
    color: #007bff; /* Example styling: change as needed */
}