<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">

    <div class="text-center">
        <p>Start Collecting your contacts in very smarter way. We provide
            very efficient and smarter way of handling contacts.</p>

        <button class="btn bg-primary btn-lg text-white" onclick="window.location.href='signin'">Get Started</button>
        <button class="btn bg-primary btn-lg text-white" onclick="window.location.href='signup'">Register</button>
    </div>

</section>


</body>
</html>